html, body {
  font-family: sans-serif;
  width:  80%;
}
h1 {
  font-size: 48px;
}

p {
  max-width: 65%;
}

.profilepic {
  position:  relative;
  width:  50%;
}
.bodytext {
  position:  relative;
  float:  right;
  width:  50%;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}