html, body {
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:  80%;
}
h1 {
  font-size: 48px;
}

p {
  max-width: 65%;
  min-width: 500px;
}

.profilepic {
  position:  relative;
  top: 20px;
  left:  40px;
}
.bodytext {
  position:  relative;
  float:  right;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}